{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetShop</title>
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/petshopstyle.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
    {% include "navbar.html" %}
    <!--<h1>Hello Customer</h1>-->
        {% block "title" %}

        {% endblock "title" %}
        
        {% block "main" %}

        {% endblock "main" %}

    {% include "footer.html" %}
    <script src="{% static 'JS/bootstrap.min.js' %}"></script>
</body>
</html>
