{% extends "base.html" %}
{% load static %}

{% block "title" %}

{% endblock "title" %}

{% block "main" %}

<div class="container">
    <form method="POST">
    {% csrf_token %}
        <label>Enter Your Email:</label>
        <input type="email" name="email" required>
        <button type="submit">Send OTP</button>
    </form>
    {% if messages %}
        {% for message in messages %}
        <p style="color:red;">{{message}}</p>
        {% endfor %}
    {% endif %}
</div>

{% endblock "main" %}